/* form {
    height: 25.5rem;
} */
.addItems {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* input::placeholder {
    text-indent: 18px;
} */
input {
    height: 2.75rem;
    border-radius: 12px;
    border: 2px solid var(--border-primary);
    padding-left: 18px;
    padding-block: 11px;
    font: 400 1rem/1.4 var(--ff-inter);
    transition: border-color 200ms ease-in;

    
    &::placeholder {
        width: fit-content;
        color: var(--content--tertiary);
    }
}

input:hover {
    border-color: var(--border-hover);
}
input:focus {
    border-color: var(--color-brand);
    outline: none;
    
    &::placeholder {
        color: var(--content-primary);
    }
}

ul[data-rule=list] {
    /* width: 20.4375rem; */
    width: 100%;
    /* height: 16.5rem; */
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* width: 100%; */
    margin-top: 2.5rem;
    list-style: none;    
}

li {
    display: flex;
    width: 100%;
    height: 3.56rem;
    align-items: center;
    gap: 12px;
    padding-block: 12px;
    padding-inline: 12px;
    border-radius: 12px;
    
    background-color: var(--bg-secondary);

}

label {
    font: var(--paragraph) var(--ff-inter);
    width: 100%;
}



@media (width >= 85.38em) {
    form {
        max-width: 39.19rem;
        width: 100%;
        /* height: 19.75rem; */
        margin-inline: auto ;

    }

    .addItems {
        flex-direction: row;
    }

    input {
        width: 28.188rem; 

    }

    ul[data-rule="list"] {
        max-width: 39.19rem;
        width: 100%;
        
    }

    li {
        height: 3.06rem;
    }
}